<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fishing Conditions</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/site.css" />
  </head>
  <body>
    <h1>Salmon River Fishing Conditions</h1>
    <div class="grid-container">
      <div>
        <h3>Temperature (degrees celsius, high and low)</h3>
        <div class="chart">
          <canvas id="temperatureChart" />
        </div>
      </div>
      <div>
        <h3>Precipitation (Rain mm, Snow cm)</h3>
        <div class="chart">
          <canvas id="precipitationChart" />
        </div>
      </div>
      <div>
        <h3>Atmospheric Pressure (hPa)</h3>
        <div class="chart">
          <canvas id="pressureChart" />
        </div>
      </div>
      <div>
        <h3>Flow (cfs)</h3>
        <div class="chart">
          <canvas id="flowChart" />
        </div>
      </div>
    </div>
    
    <a href="https://www.safewaters.com/facility/lighthouse-hill"><h3>Dam schedule</h3></a>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/pressure.js"></script>
    <script src="/flow.js"></script>
    <script src="/js/charts.js"></script>

    <script>

document.addEventListener("DOMContentLoaded", () => {
  const id = "temperatureChart"
  const labels = [{{ range .Dates }}"{{.}}", {{end}}]
  const data = [{{ range .Temps }}[{{ range . }}{{.}},{{end}}],{{end}}]
  createTemperatureChart(id, labels, data)
})

document.addEventListener("DOMContentLoaded", () => {
  const id = "precipitationChart"
  const labels = [{{ range .Dates }}"{{.}}",{{end}}]
  const data ={
    rain: [{{ range .Rain }}{{.}},{{end}}],
    snow: [{{ range .Snow }}{{.}},{{end}}]
  }
  createPrecipitationChart(id, labels, data)
})
    </script>
  </body>
</html>
