<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fishing Conditions</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/site.css" />
  </head>
  <body>
    <h1>Salmon River Fishing Conditions</h1>
    <div class="grid-container">
      <div>
        <h3>Temperature</h3>
        <div class="chart">
          <canvas id="temperatureChart" />
        </div>
      </div>
      <div>
        <h3>Precipitation</h3>
        <div class="chart">
          <canvas id="precipitationChart" />
        </div>
      </div>
    </div>
    <p>Precipitation</p>
    <h3>River Conditions</h3>
    <p>Flow</p>
    <p>Reservoir</p>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/temperature.js"></script>
    <script src="/precipitation.js"></script>
  </body>
</html>
