<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fishing Conditions</title>
    <link rel="stylesheet" href="/css/site.css" />
  </head>
  <body>
    <h1>
      <a href="https://www.google.com/maps?q={{.Latitude}},{{.Longitude}}" target="_blank">
        {{.Title}} <img src="/assets/link.svg"/>
      </a>
    </h1>
    

    <h2>WATER</h2>
    <div class="grid-container">
      <div>
        <h3>Flow (cfs)</h3>
        <div class="chart">
          <canvas id="flowChart" />
        </div>
      </div>

      <div>
        {{ if .ExtraData }}
          <h3>{{ .ExtraData.Title}}</h3>
          {{ .ExtraData.RenderedData}}
        {{  end }}
      </div>

    </div>

    <h2>WEATHER</h2>
    <div class="grid-container">
      
      <div>
        <h3>Temperature (degrees celsius, high and low)</h3>
        <div class="chart">
          <canvas id="temperatureChart" />
        </div>
      </div>
      
      <div>
        <h3>Precipitation (Rain mm, Snow cm)</h3>
        <div class="chart">
          <canvas id="precipitationChart" />
        </div>
      </div>

      <div>
        <h3>Atmospheric Pressure (hPa)</h3>
        <div class="chart">
          <canvas id="pressureChart" />
        </div>
      </div>  

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/charts.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const flowId = "flowChart"
        const flowLabels = {{.FlowLabels}}
        const flowData = {{.FlowReadings}}
        createFlowChart(flowId, flowLabels, flowData)

        const tId = "temperatureChart"
        const tData = {{.TemperatureChartData}}
        createTemperatureChart(tId, tData)

        const pId = "precipitationChart"
        const pData = {{.PrecipitationChartData}}
        
        createPrecipitationChart(pId, pData)

        const airId = "pressureChart"
        const airData = {{.AtmosphericPressureChartData}}
        createPressureChart(airId, airData)
      })
    </script>
  </body>
</html>
