<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/newlook.css" />
  <script src="https://kit.fontawesome.com/824a87d68b.js" crossorigin="anonymous"></script>

  <script>
    function toggleStyle() {
        document.getElementById("dropdown-content").classList.toggle("dropdown-visible");
    }
</script>

  <title>{{.Title}}</title>
</head>

<body>

  <header class="navigation-header">
    <nav>
      <div class="navbar">
        <div class="logo">{{.Title}}</div>
        <div class="dropdown">
          <button class="dropbtn" onclick="toggleStyle()">Other Locations</button>
          <div class="dropdown-content" id="dropdown-content">
            <a href="/04250750">Sandy Creek</a>
            <a href="/">Salmon River</a>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="container">
      <div class="card-grid">
        <div class="card two-row">
          <h2>Weather</h2>
          {{ template "weather-grid" .ForecastData }}
        </div>

        <div class="card">
          <div>
            <h2>Atmospheric Pressure</h2>
            <h4>hPa</h4>
            <div class="chart">
              <canvas id="pressureChart" />
            </div>
          </div>
        </div>

        <div class="card">
          <h2>Current</h2>
          <h4>CFS</h4>
          <div class="chart">
            <canvas id="flowChart" />
          </div>
        </div>

        {{ if .ExtraData }}
        <div class="card two-column">
          
            <h2>{{ .ExtraData.Title }}</h2>
            {{ .ExtraData.RenderedData}}
        </div>
        {{  end }}
      </div>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/js/charts.js"></script>

  <script>
    const flowId = "flowChart"
    const flowData = {{.FlowChartData }}
    const airId = "pressureChart"
    const airData = {{.AtmosphericPressureChartData }}


    window.addEventListener("load", () => {
      createPressureChart(airId, airData)
      createFlowChart(flowId, flowData)
    })
  </script>
</body>

</html>